body, #encabezado{
    background-image: url(https://img.freepik.com/vector-premium/fondo-borroso-gris-claro-blanco-degradado-radial_53562-6788.jpg?w=2000);
}

p {
    background-color: aquamarine;
}

img{
    height: 4cm;
    width: 4cm;
}

/* POSICIONAMIENTO ABSOLUTO CON RESPECTO AL SCROLLEO
#encabezado, #pestanas {
    position: absolute;
}
*/

.link { color: #FF0000; } /* CSS link color (red) */
.link:hover { color: #00FF00; } /* CSS link hover (green) */
